@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

:root {
  --primary-color: #caf0ed;
  --secondary-color: #b856dc;
  --light-color: #fff;
  --text-color: #103b42;
  --hover-color: #822ec2;
  --font-size-base: 16px;
  --font-size-large: 24px;
  --container-width: 1200px;
  --shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: #f5f5f5;
  font-size: var(--font-size-base);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
}

a:hover {
  color: var(--hover-color);
}

.header-container {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

h1 {
  font-size: var(--font-size-large);
  color: var(--text-color);
}

nav ul.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul.nav-list li {
  margin-right: 20px;
}

nav ul.nav-list a {
  color: var(--text-color);
  font-size: var(--font-size-base);
}

.icono-container {
  width: 30px;
  height: auto;
  cursor: pointer;
}

main {
  max-width: var(--container-width);
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}

#carousel {
  position: relative;
  margin-bottom: 40px;
}

.carousel-slides {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: var(--light-color);
  background-color: rgba(209, 153, 41, 0.653);
  padding: 10px 15px;
  border-radius: 5px;
}

#Actividades {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

#Actividades article {
  background-color: var(--light-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  text-align: center;
}

#Actividades img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.bottom-redirection {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--light-color);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.bottom-redirection:hover {
  background-color: var(--hover-color);
  color: var(--light-color);
}

#best-seller {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#best-seller article {
  background-color: var(--light-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  width: 23%;
  text-align: center;
}

#best-seller article img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#best-seller article h4 {
  margin: 10px 0;
}

#best-seller article p {
  font-size: var(--font-size-base);
  color: var(--text-color);
}

#Productos-Exclusivos {
  background-color: var(--light-color);
  padding: 40px;
  text-align: center;
  margin: 20px 0;
}

#Productos-Exclusivos h3 {
  font-size: var(--font-size-large);
  margin-bottom: 10px;
}

#Productos-Exclusivos button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-base);
  transition: background-color 0.3s;
}

#Productos-Exclusivos button:hover {
  background-color: var(--hover-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px 0;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

footer ul {
  list-style: none;
}

footer ul span {
  font-weight: bold;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: var(--light-color);
}

footer ul li a img {
  width: 25px;
  height: auto;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  nav ul.nav-list {
    flex-direction: column;
    text-align: center;
  }

  #best-seller {
    flex-direction: column;
  }

  #best-seller article {
    width: 100%;
    margin-bottom: 20px;
  }
}
